@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");
@import "~mdb-ui-kit/css/mdb.min.css";

@keyframes pular {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

:root {
    --cor-de-fundo: #e7e6e6b7;
    --fonte-principal: "Montserrat", sans-serif !important;
    --cor-color-shadow: #000000;
    --cor-drop-shadow: #1f1e1ecb;
    --branco: #ffffff;
    --branco2: #d3d3d3;
    --cinza: #4747474b;
    --cor-azul0: #5356ffa1;
    --cor-azul1: #adcffc;
    --cor-laranja0: #fccb90;
    --cor-laranja1: #ff8b06;
    --cor-laranja2: #ff7300;
    --cor-laranja3: #fc5c00;
    --cor-vermelho0: #ff0000;
    --cor-vermelho1: #a00000;
    --cor-sombra: #3f3f3fbd;
    --cor-borda: #000000;
}

.container {
    margin: 0.75rem auto 0.75rem auto;
    padding-bottom: 10px;
    border-radius: 0.625rem;
    width: 50.2rem;
}

.cascading-right {
    border-radius: 1.5rem !important;
    border-width: 0 10px 12px 0;
}

.card {
    border-width: 0 10px 12px 0;
    border-style: solid;
    border-color: var(--cor-laranja1);
    box-shadow: 4px 5px 15px var(--cor-sombra);
}

.card-body {
    border-radius: 1.5rem !important;
    border-width: 0 10px 12px 0;
    border-style: solid;
    border-color: var(--cor-laranja1);
    box-shadow: 4px 5px 15px var(--cor-sombra);
}

.form-check-input {
    background-color: var(--cor-laranja1);
    border-color: var(--cor-laranja1);
}

.form-label {
    color: var(--cor-laranja1);
}

.cascading-right {
    margin-right: -50px;
}

.bg-white {
    border-radius: 1.5rem !important;
    border-width: 4 8px 4px 0 !important;
    border-style: solid !important;
    border-color: var(--cor-laranja1) !important;
    box-shadow: 4px 5px 15px var(--cor-sombra) !important;
}

.selector-for-some-widget {
    box-sizing: content-box !important;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}
