@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

@keyframes pular {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

:root {
    --cor-de-fundo: #E7E6E6B7;
    --fonte-principal: 'Montserrat', sans-serif !important;
    --cor-color-shadow: #000000;
    --cor-drop-shadow: #1F1E1ECB;
    --branco: #FFFFFF;
    --branco2: #D3D3D3;
    --cinza: #4747474B;
    --cor-azul0: #5356ffa1;
    --cor-azul1: #ADCFFC;
    --cor-laranja0: #FCCB90;
    --cor-laranja1: #FF8B06;
    --cor-laranja2: #FF7300;
    --cor-laranja3: #FC5C00;
    --cor-vermelho0: #FF0000;
    --cor-vermelho1: #A00000;
    --cor-sombra: #3F3F3FBD;
    --cor-borda: #000000;
}

* {
    color: var(--cor-color-shadow) !important;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-de-fundo) !important;
    font-family: var(--fonte-principal) !important;
   
    text-align: left !important;
}

p {
 
    text-align: left;
}

h2 {
    font-size: 20px !important;
}

.divFormu {
    margin: 1rem auto 1rem auto;
    padding-bottom: 10px;
    border-radius: 8rem;
    border-width: 0 10px 16px 0;
    border-style: solid;
    border-color: var(--cor-laranja1);
    border-spacing: 8rem;
    width: 60rem;
    box-shadow: 4px 5px 15px var(--cor-sombra);
}

.container {
    background-color: var(--branco) !important;
    margin: 0.75rem auto 0.75rem auto;
    padding-bottom: 10px;
    border-radius: .625rem;
    width: 50.2rem;
}

.form-control:active,
.form-control:focus,
.is-valid:active,
.is-valid:focus,
.is-invalid:active,
.is-invalid:focus {
    border: 1px solid var(--cor-azul0) !important;
    outline: none !important;
    box-shadow: 0 0 10px var(--cor-azul1) !important;
    font-family: var(--fonte-principal) !important;
}

.form-container {
    border-radius: 10px 0 0 10px;
    background-color: var(--branco);
}

.container {
    margin-top: 5%;
    border-radius: 1%;
}

.salvar {
    font-family: var(--fonte-principal);
    font-size: 20px;
}

.form-check-input {
    background-color: var(--cor-laranja1) !important;
    border-color: var(--cor-laranja3) !important;
    width: 100%;
    margin-top: 17.5rem;
    box-shadow: 1px 1px 5px var(--cor-sombra) !important;
    white-space: nowrap;
}

.form-check-input:focus,
.form-check-input:active,
.form-check-input:hover {
    background-color: var(--cor-laranja3) !important;
    border: 1px solid var(--cor-borda) !important;
}

.tabela {
    overflow: auto;
}

body {
    font-family: sans-serif;
    font-size: 0.9em;
}
table {
    border-collapse: collapse;
    border-bottom: 1px solid #000000;
}
thead {
    background-color: #ffe7d3;
    color: #000000;
}
thead,tbody {
    display: block;
}
th,td {
    padding: 8px 10px;
    border: 1px solid #000000;
    width: 117px;
    box-sizing: border-box;
}
tbody {
    height: 160px;
    overflow-y: scroll
}

table.scroll tbody,
table.scroll thead { display: block; }

table.scroll tbody {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}

table.scroll tr {
    display: flex;
}

table.scroll tr > td {
    flex-grow: 1;
    flex-basis: 0;
}

.btn {
    width: 100%;
    box-shadow: 1px 1px 5px var(--cor-sombra) !important;
    white-space: nowrap;
    animation: pular 1s;
}

.btn-danger {
    background-color: var(--cor-laranja1) !important;
    border-color: var(--cor-laranja2)!important;
    animation: pular 1s;
}

.btn-danger:focus,
.btn-danger:active,
.btn-danger:hover {
    background-color: var(--cor-laranja3) !important;
    border-color: 2px solid var(--cor-borda) !important;
    outline: none !important;
    border: 1px solid var(--cor-borda) !important;
    color: var(--branco) !important;
}

.btn-danger {
    border: 1px solid var(--cor-borda) !important;
    color: 4px solid var(--cor-borda) !important;
}

.btn-outline-danger {
    border: 1px solid var(--cor-vermelho0) !important;
    animation: pular 1s;
}

.btn-outline-danger:hover {
    background-color: var(--cor-vermelho1) !important;
    border: 1px solid var(--cor-vermelho1) !important;
    color: var(--branco) !important;
    animation: pular 1s;
}

.bg-white {
    border-radius: 1.5rem !important;
    border-width: 4 20px 20px 20px !important;
    border-style: solid !important;
    border-color: var(--cor-laranja1) !important;
    box-shadow: 4px 5px 15px var(--cor-sombra) !important;
}
#botaoEnviar{
    margin-top:  9.5px;
}
#botaoExcluir{
    margin-top:  9.5px;
}

#phr{
    margin-top:  10px;
}

@media screen and (min-width: 1024px) {
    .divFormu {
        margin-top: 1.5rem;
    }
}